<div class="card" (click)="toggleUnits()">
    <div class="card-header">
        <div class="row">
            <div class="col-8">
                <p>{{ currentCity }}, {{ currentState }}</p>
            </div>
            <div class="col-4 text-right">
                <h1>{{
                    weatherData.temp
                    | tempUnit: currentTempUnit
                    | number: '.0-0'
                }}&deg;{{ tempUnitSymbol }}
                </h1>
            </div>
        </div>
    </div>
    <div class="card-body">
        <canvas id="icon"></canvas>
        <p>{{ weatherData.summary }}</p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-5">
                <p>Wind</p>
                <p>{{ weatherData.wind | speedUnit: currentSpeedUnit }}</p>
            </div>
            <div class="col-5 offset-2">
                <p>Humidity</p>
                <p>{{ weatherData.humidity | percent }}</p>
            </div>
        </div>
    </div>
</div>